<!doctype html>
<html lang="{{ site.lang | default: "ja-JP" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="#">

    {% seo %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/github-gist.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.plotly %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endif %}
  </head>
  <body>
    <header>
      <h1>
        <a href="{{ site.url }}" id="title">
          {{ site.title | default: site.github.repository_name }}
        </a>
      </h1>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
    </header>
    
    <div id="banner">
      <!--<span id="logo"></span>-->
      {% include navigation.html %}
      <div id="site-search"></div>
    </div>
    
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>

      <footer>
        <p>
          <small>
            <a href="{% link about_EN.md %}">Yoshihiko Suzuki</a>
            &mdash;
            <a href="https://twitter.com/YetNone">Twitter</a>
            <a href="https://github.com/yoshihikosuzuki">GitHub</a>
            <a href="https://booklog.jp/users/yetnone">Booklog</a>
          </small>
        </p>
      </footer>
      
      <section>
        <h1>
          <a href="https://yoshihiko-suzuki.netlify.com/">
            Gastby を使ったサイトに移行しました。
          </a>
        </h1>
        <h1>
          こちらは今後更新しません。
        </h1>
        <hr>

        <div id="search-result" style="display:none">
          <h2>Search Result:</h2>
          <div id="search-hits"></div>
        </div>
        {{ content }}
      </section>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}" async></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/x-mathjax-config" async>
     MathJax.Hub.Config({
       tex2jax: {
         inlineMath: [ ['$','$'] ],
         displayMath: [ ['$$','$$'] ],
         processEscapes: true
       },
       CommonHTML: {
         scale: 105
       }
     });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

    {% include search.html %}

    {% if site.google_analytics %}
    <script async>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', '{{ site.google_analytics }}', 'auto');
     ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
